<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel">Edit user</h4>
</div>
<div class="modal-body" style="padding:20px 20px 20px 20px">
	<div class="row">
		<div class="col-md-12" >
			<div>
				<label for="#txtName">Name:</label>
				<input required="true" value="{{user.name}}" type="text" placeholder="Type user name here" class="form-control" id="txtName"/>
			</div><br/>
			<div>
				<label for="#txtName">Email:</label>
				<input required="true" value="{{user.email}}" type="text" placeholder="Your email here" class="form-control" id="txtName"/>
			</div><br/>
			<div>
				<label for="#txtName">New password:</label>
				<input required="true" type="text" placeholder="Password. Min. 8 characters" class="form-control" id="txtName"/>
			</div><br/>
			<div>
				<label for="#txtName">Confirm password:</label>
				<input required="true" type="text" placeholder="Confirm your password here" class="form-control" id="txtName"/>
			</div><br/>
			<div>
				<label for="#txtName">Services:</label>
				<div>
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="checkbox">
									{% if user.evernote == True %}
										<label><input checked type="checkbox">Evernote</label>
									{%else%}
										<label><input type="checkbox">Evernote</label>
									{%endif%}									
								</div>
								<div class="checkbox">
									{% if user.onenote == True %}
										<label><input checked type="checkbox">Onenote</label>
									{%else%}
										<label><input type="checkbox">Onenote</label>
									{%endif%}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><br/>
		</div>
	</div>
</div>
<div class="modal-footer">
 	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<button type="button" class="btn btn-primary">Create</button>
</div>