<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">
				<a href="#">Saferoom</a>
			</li>
			<li><a href="/admin/services"><span style="color:white;margin-right:5px" class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> Services</a></li>
			<li><a href="/admin/users"><span style="color:white;margin-right:5px" class="glyphicon glyphicon-user" aria-hidden="true"></span> Users</a></li>
			<li><a href="/admin/settings"><span style="color:white;margin-right:5px" class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</a></li>
			<li><a href="/admin/help"><span style="color:white;margin-right:5px" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Help </a></li>
			<li><a href="/admin/signout"><span style="color:white;margin-right:5px" class="glyphicon glyphicon-off" aria-hidden="true"></span> Sign out</a></li>
		</ul>
	</div>