<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-6 col-md-offset-3">
        	<div class="panel panel-default">
        		<div style="text-align:left" class="panel-heading"><h4>Application :: Sign In</h4></div>
        		<div class="panel-body">
        			<div class="row">
        				<div style="text-align:left" class="col-md-12">
        					<label for="#txtEmail">Email:</label>
        					<input placeholder="Type your email here" id="txtEmail" type="text" class="form-control"/>
        				</div>
        				<div style="text-align:left;margin-top:20px;margin-bottom:20px" class="col-md-12">
        					<label for="#txtPassword">Password:</label>
        					<input placeholder="Your password" id="txtPassword" type="password" class="form-control"/>
        				</div>
                        <div class="row">
                            <div class="col-md-4 text-right" style="padding-top:5px;">
                                <a href="/forgot">Forgot your password?</a>
                            </div>
                            <div class="col-md-8 text-right" style="padding-right:30px">
                                <button id="btnSignup" type="button" class="btn btn-default" aria-label="Left Align"> Sign up</button>
                                <button id="btnSignin" type="button" class="btn btn-default" aria-label="Left Align"> Sign in</button>
                            </div>
                        </div>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
</div>